<!DOCTYPE html>
<html>
<head>
  <title>Erxtwo</title>
  <%= stylesheet_link_tag    "erxtwo/application", media: "all" %>
  <%= javascript_include_tag "erxtwo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
